this is the buncha books page

{{#if user}}
<p>Hello, {{user.username}}</p>

{{/if}}


{{#each theBooks}}

<div>
    <a href="/books/{{this._id}}">

        <h3>
            Title:
            {{this.title}}
        </h3>
    </a>

    <h5>By: {{this.author}}</h5>

    <a href="/books/edit/{{this._id}}">Edit This Book</a>

    <form action="/books/delete/{{this._id}}" method="POST">
    <button>Delete</button>
    </form>



</div>




<hr>

{{/each}}