<br><br><br>


<h1>Title: {{book.title}}</h1>


<a href="/authors/{{book.author._id}}">
<h3>Author: {{book.author.name}}</h3>
</a>


<p>Donated by: {{book.donor.username}}</p>




<img style="width: 600px" src="{{book.image}}" alt="">