<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>Secret word is {{secretWord}}</div>


<h6>first thing all programmers must say when they are born: {{begginingPhrase}}</h6>



<h2>The Number is {{number}}</h2>



<div>
    {{{someStuff}}}
    {{!-- this is extremely unusual, you only need a triple mustache if your variable has html inside it and you want to parse that html as html --}}
</div>